*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f2f2f2;
}

/* HEADER */
.header{
background:#e40046;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

/* CARD */
.card{
background:white;
margin:10px;
padding:15px;
border-radius:10px;
}

.user{
display:flex;
gap:10px;
align-items:center;
}

.avatar{
width:50px;
height:50px;
background:#d18aa5;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:20px;
}

.number{
color:#777;
font-size:14px;
}

.row{
display:flex;
justify-content:space-between;
margin-top:10px;
}

/* INPUT */
.input-box{
background:white;
margin:10px;
padding:15px;
border-radius:10px;
display:flex;
align-items:center;
gap:10px;
}

.input-box input{
border:none;
outline:none;
width:100%;
}

/* PIN BAR */
.pin-bar{
position:fixed;
bottom:260px;
width:100%;
background:#777;
color:white;
padding:10px;
display:flex;
justify-content:space-between;
}

/* KEYPAD */
.keypad{
position:fixed;
bottom:0;
width:100%;
background:#e6e6e6;
padding:10px;
}

.keys{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
text-align:center;
font-size:28px;
color:#555;
}

.keys div{
padding:15px;
}

.enter{
background:#999;
border-radius:50%;
width:60px;
height:60px;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
}